{{ define "main" }}
<header>
  <h1 class="p-name">{{ .Params.headline | default .Title | .RenderString }}</h1>
  <p class="p-summary">
    {{ .Params.subheadline | default .Description | .RenderString }}
  </p>
</header>

{{ .Content }}

{{- $posts := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ with $posts }}
<section>
  {{ range . }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}
</section>  
{{ end }}

{{ end }}
