{{ define "main" }}
<header>
  <h1>{{.Params.headline | default .Title | .RenderString }}</h1>
  <p>{{ .Params.subheadline | default .Description | .RenderString }}</p>
</header>

{{with .Content}}
<div>{{ . }}</div>
{{ end }}

<div class="h-feed">  
  {{ range .Paginator.Pages }}
  <article>        
    <h2 class="p-name">
      <a class="u-url" title="{{ .Title }}" href="{{ .Permalink }}">{{ .Title | .RenderString }}</a>
    </h2>
    <p>
      <small>Posted <time class="dt-published" datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date }}">{{ dateFormat ":date_medium" .Date }}</time> {{ if ne .Lastmod .PublishDate }} / Updated <time class="updated">{{ dateFormat ":date_medium" .Lastmod }}</time> {{ end }}</small>
    </p>
  </article>
  {{ end }}  
</div>
{{ end }}