{{ define "main"}}
<article>
  <header>
    <h1 class="p-name">{{.Params.headline | default .Title | .RenderString }}</h1>
    <p class="p-summary">
      {{.Params.subheadline | default .Description | .RenderString }}</strong>
    </p>
    {{- if in site.Params.mainSections .Type -}}
    <p class="posted-on">
      <small>
        Published <time class="dt-published post-time" datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date }}">{{ dateFormat ":date_long" .Date }}</time>
        {{ if ne .Lastmod .PublishDate }} / Last updated 
        <time class="updated">{{ dateFormat ":date_long" .Lastmod }}</time>{{ end }}
      </small>
    </p>
    {{end}}
    {{ partial "feature-image" . }}
  </header>

  <section class="post-content e-content">
    {{ .Content }}
  </section>

  {{- if not (in site.Params.mainSections .Type) -}}   
  <footer>
    <p class="posted-on">
      <small>
        Last updated <time class="updated">{{ .Lastmod | time.Format ":date_long" }}</time>
      </small>
    </p>
  </footer>
  {{end}}

  {{/*
  <section class="post-comments">
    Here's where you'd add your comments, if you're using them
  </section>
  */}}

  {{- if in site.Params.mainSections .Type -}}
  <section class="footer-cta">
    <hr>
    <h3>If you liked this, here's more ways I can help you out:</h3>
    <ol>
      <li><p>Coaching</p></li>
      <li><p>Free damn book</p></li>
      <li><p>New workshop</p></li>
    </ol>
  </section>

  {{ $related := site.RegularPages.RelatedIndices . | first 3 }}
  {{ with $related }}
  <aside class="read-more">
    <div class="related-posts">  
    <h3>You might also like to read these:</h3>
    <ul>
      {{ range . }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  </aside>
  {{ end }}
  {{- end }}
</article>

{{ end }}