<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Params.headline | default .Title }}</title>
  <meta name="description" content="{{ .Params.subheadline | default .Description }}">    
  {{ partial "head/css" . }}
</head>
<body class="{{ block "body_class" . }}{{end}}type-{{ .Type }} kind-{{ .Kind }} {{ .Section }}">
  <header>
    <h1>{{ .Params.headline | default .Title | .RenderString }}</h1>
    <h2>{{ .Params.subheadline | default .Description | .RenderString }}</h2>
  </header>
  
  <div class="content">
    {{.Content}}
  </div>
  
  <footer>
    <span class="copyright">Copyright &copy; <span itemprop="copyrightYear">{{ now.Year }}</span></span>
  </footer>
</body>
</html>
