:root {
  --bg: #fffffb;
  --accent: blue;
}

body {  
  max-width: 68ch;
  margin: 1em auto;
  font-size: 1.25rem;
  background-color: var(--bg);
}
/* 
a {
  color: var(--accent);
  transition: background-color 0.25s, color 0.25s;
}

a:hover,
a:active {
  color: var(--bg);
  background-color: var(--accent);
}

hr {
  border: 0;
  border-top: 2px solid var(--accent);
}

 */