<nav role="navigation" aria-label="Navigation">
  {{- if in site.Params.mainSections .Type -}}
  {{- range last 2 .Ancestors.Reverse }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <span class="" aria-hidden="true"> / </span>
  {{- end }}
    <span class="active" aria-current="page"> 
      <a href="{{ .RelPermalink }}" aria-current="location">{{ .Title }}</a>
    </span>
  {{ else }}   
  <a href="{{ site.Home.Permalink }}">{{ site.Title }}</a>
  {{- end -}}
</nav>
