<meta charset="utf-8">  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{- block "title" . }}
{{- $title := $.RenderString .Title | plainify }}
{{- with .Params.headline }}{{ $title = . }}{{ end }}
{{- if .IsHome }}{{ $title = site.Title }}{{ else }}
{{- $title = delimit (slice $title site.Title) " - " }}
{{- end }}
<title>{{ $title }}</title>
{{- end }}   
{{- $desc := $.RenderString .Description | plainify }}
{{- with .Params.subheadline }}{{ $desc = . }}{{ end }}
{{- if .IsHome }}{{ $desc = site.Params.Description }}{{ end }}
<meta name="description" content="{{ $desc }}" />
<link rel="canonical" href="{{ .Permalink }}">

{{ partialCached "head/css" . }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{- range .AlternativeOutputFormats -}}
{{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end -}}
